@charset "utf-8";



.mainmenu {
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	padding:7px;
	margin-top:8px;
}
.mainmenu:hover {
	background-color: red;
	
}
.mainmenutransaksi {
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	padding:7px;
	margin-top:8px;
}
.mainmenutransaksi:hover {
	background-color: red;
	
}
.dropdown {
	position: relative;
	display: inline-block;
	
}
.dropdown-child {
	
	display: none;
	background-color: black;
	min-width: 99px;
	
}
.dropdown-child a {
	color: white;
	padding: 20px;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropdown-child {
	
	display: block;
	
	
}
